@{
    ViewBag.Title = "My Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    299b, wanneroo road<br />
    Balcatta, WA 6021<br />
    <abbr title="Phone">P:</abbr>
    +61457542448
</address>

<address>
    <strong>E-mail:</strong>   <a href="waraich0071@gmail.com">Support@example.com</a><br />
</address>